html, body {
    height: 100%;
    /*position: relative;*/
}

body {
    margin: 0;
}

.main {
    position: absolute;
    width: 100%;
    height: 100%;
}

.main img {
    width: 100%;
    height: 100%;
}

.top-left {
    /*width: 40px;
height: 15px;*/
    margin-left: 20px;
    margin-top: 12px;
    position: absolute;
    width: 60%;
}
.top-left span{
  position: absolute;
  left: 20px;
  top: 10px;
  font-size: 18px;
}
.top-left img {
    width: 170px;
    height: 20px;
}

.top-right {
    margin-left: 220px;
    margin-top: 17px;
    position: absolute;
}

.top-right img {
    width: 145px;
    height: 28px;
}

.content-item1 {
    background-color: #063e83;
    position: absolute;
    width: 90px;
    height: 90px;
    margin-left: 160px;
    margin-top: 160px;
}

.content div {
    background-color: rgba(6, 62, 131, 0.82);
}

.content img {
    margin-top: 10px;
    margin-left: 25px;
}

span {
    color: white;
    font-size: 13px;
}

.content span {
    margin-top: 65px;
    margin-left: 16px;
    position: absolute;
}

.content-item2 {
    position: absolute;
    width: 90px;
    height: 90px;
    margin-left: 260px;
    margin-top: 160px;
}

.content-item3 {
    position: absolute;
    width: 90px;
    height: 90px;
    margin-left: 160px;
    margin-top: 260px
}

.content-item4 {
    position: absolute;
    width: 90px;
    height: 90px;
    margin-left: 260px;
    margin-top: 260px;
}

.content-item5 {
    position: absolute;
    width: 90px;
    height: 90px;
    margin-left: 160px;
    margin-top: 360px;
}

.content-item6 {
    position: absolute;
    width: 90px;
    height: 90px;
    margin-left: 260px;
    margin-top: 360px;
}

.content-item5 img {
    margin-top: 10px;
    margin-left: 30px;
}
.bottom img {
    margin-top: 0;
    margin-left: 10px;
}
.bottom span {
    margin-left: 9px;
    margin-top: 26px;
    position: absolute;
}

.bottom-item1 {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 30px;
    margin-top: 685px;
}

.bottom-item2 {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 155px;
    margin-top: 685px;
}

.bottom-item3 {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 245px;
    margin-top: 685px;
}

.bottom-item4 {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 335px;
    margin-top: 685px;
}
